<script src="../../../bower_components/sweetalert/dist/sweetalert.min.js"></script> 
<link rel="stylesheet" type="text/css" href="../../../bower_components/sweetalert/dist/sweetalert.css">

<header class="hero-unit" id="banner">
  <div class="container">
    <h3>Columnists</h3>
    <p class="lead">Lütfen okumak istediğiniz köşe yazarlarını listeye ekleyin ve mail adresinizi girin..</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h3 class="page-header">Tüm Yazarlar</h3>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Filtrele</span>
        <input type="text" class="form-control" placeholder="Yazar adı veya gazete" aria-describedby="basic-addon1" ng-model="query">
      </div>
      <div class="writercontainer">
        <ul class="list-group col-md-4 col-lg-6 col-sm-4" ng-repeat="writer in (filteredWriters = (allWriters | orderBy: 'name' | filter:query | filter:filterByNewspaper))">
          <a href="#" ng-class="{'active':selection.indexOf(allWriters.indexOf(filteredWriters[$index])) != -1}" class="list-group-item" ng-click="toggle($index)" tooltip="">
            <h5 class="list-group-item-heading">{{writer.name}} - {{writer.lastarticlesnewspaper}}<text class='updatedicon ng-class:writer.isUpdated'>&#10020</text></h5>
            <p class='list-group-item-text'>{{writer.lastarticle}}</p>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <h3 class="page-header">Seçilen Yazarlar</h3>
      <div class="writercontainer2">
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-12 col-sm-4" ng-repeat="selectedwriter in selectedWriters">
          <li><h5>{{selectedwriter.name}} - {{selectedwriter.lastarticlesnewspaper}} <a href="#" class='glyphicon glyphicon-remove removeselectedicon' ng-click='remove($index)'></a></h5></li>
        </ul>
      </div>
    </div>
  </div>
</div>

 <div class="row"> 
  <div class="col-lg-6 col-md-offset-3">
    <div class="input-group">
      <input ng-model="emailaddress" type="text" class="form-control" placeholder="E-mail adresi girin..">
      <span class="input-group-btn">
        <button ng-click="pressSend()" class="btn btn-success" type="button">Gönder</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>

<div class="row">
	<div class="col-lg-10 col-md-offset-1">
		<h4 class="page-header"><small>* Yazar isimlerinin yanındaki <text style='color:#090'>&#10020</text> işaretleri, yazarın bugün güncel yazısının bulunduğunu göstermektedir.</small>
		</h4>
	</div>
</div>


<footer class="footer">
  <div class="container">
      <p>by Barış Palaska |
        <a href="https://www.facebook.com/baris.palaska">Fb</a> |
          <a href="mailto:barispalaska@gmail.com">Sorun bildirimi</a></p>
  </div>
</footer>
